.container{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-family: Serif;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 10px;
    background-color: #0C0C0C;
}
.sticky {
    position: fixed;
    width: 100%;
    background-color: white;
  }